In [1]:
import csv

In [6]:
with open('datb.txt', 'r') as objf:
    data_r = csv.reader(objf)
    for row in data_r:
        print(row)

['34 tt 89 fg']
['87 bh 11 gt']
['45 se 67 ft']
['20 xx 31 fl']
['69 ss 18 cd']
['35 dq 71 lk']

In [3]:
print(type(data_r))

<class '_csv.reader'>

In [4]:
data_r

In [7]:
with open('datb.txt', 'r') as objf:
    data_r = csv.reader(objf, delimiter = ' ')
    for row in data_r:
        print(row)

['34', 'tt', '89', 'fg']
['87', 'bh', '11', 'gt']
['45', 'se', '67', 'ft']
['20', 'xx', '31', 'fl']
['69', 'ss', '18', 'cd']
['35', 'dq', '71', 'lk']

In [10]:
with open('data.txt', 'r') as objf:
    data_r = csv.reader(objf, delimiter = ' ', quoting=csv.QUOTE_ALL)
    for row in data_r:
        print(row)

['val_1', 'val_2', 'val_3', 'val_4']
['34', 'tt', '89', 'fg']
['87', 'bh', '11', 'gt']
['45', 'se', '67', 'ft']
['20', 'xx', '31', 'fl']
['69', 'ss', '18', 'cd']
['35', 'dq', '71', 'lk']

In [12]:
with open('data.txt', 'r') as objf:
    data_r = csv.DictReader(objf, delimiter = " ")
    for row in data_r:
        print(dict(row))

{'val_1': '34', 'val_2': 'tt', 'val_3': '89', 'val_4': 'fg'}
{'val_1': '87', 'val_2': 'bh', 'val_3': '11', 'val_4': 'gt'}
{'val_1': '45', 'val_2': 'se', 'val_3': '67', 'val_4': 'ft'}
{'val_1': '20', 'val_2': 'xx', 'val_3': '31', 'val_4': 'fl'}
{'val_1': '69', 'val_2': 'ss', 'val_3': '18', 'val_4': 'cd'}
{'val_1': '35', 'val_2': 'dq', 'val_3': '71', 'val_4': 'lk'}

In [13]:
data_c = [["id", "name", 'skill'], 
          [24, "mithali", "cricket"],
          [25, "Sindhu", "badminton"],
          [26, "sania", "tennis"],
          [27, "mary", "boxer"] ]

In [14]:
with open("sportswomen.csv", "w") as objf:
    data_w = csv.writer(objf)
    for row in data_c:
        data_w.writerow(row)

In [15]:
with open("sportswomen.csv", "w") as objf:
    data_w = csv.writer(objf)
    data_w.writerows(data_c)

In [16]:
import pandas as pd

In [17]:
dfc = pd.read_csv("sportswomen.csv")

In [18]:
dfc

   id     name      skill
0  24  mithali    cricket
1  25   Sindhu  badminton
2  26    sania     tennis
3  27     mary      boxer