In [1]:
import json

In [2]:
with open("example_1.json") as fa:
    data_a = json.load(fa)

In [3]:
print(data_a)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [4]:
print(type(data_a))

<class 'dict'>

In [5]:
data_a["fruit"]

'Apple'

In [6]:
with open("example_2.json") as fb:
    data_b = json.load(fb)

In [7]:
print(data_b)

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}

In [8]:
data_b

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [9]:
data_b['quiz']['maths']

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [10]:
data_b['quiz']['maths']['q1']

{'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}

In [11]:
data_b['quiz']['maths']['q1']['options']

['10', '11', '12', '13']

In [12]:
data_b['quiz']['maths']['q1']['options'][1]

'11'

In [23]:
def read_dict(d):
    for k,v in d.items():
        if type(v) is dict:
            read_dict(v)
        else:
            print(k, end=" : ")
            print(v)
            if "answer" in k:
                print("----------")

In [14]:
data_b

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [24]:
read_dict(data_b)

question : Which one is correct team name in NBA?
options : ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket']
answer : Huston Rocket
----------
question : 5 + 7 = ?
options : ['10', '11', '12', '13']
answer : 12
----------
question : 12 - 8 = ?
options : ['1', '2', '3', '4']
answer : 4
----------

In [25]:
data_c = {"aa":10, "hh":30, "yy":40, 'qq':15}

In [26]:
with open('example_3.json', "w") as fc:
    json.dump(data_c, fc)