In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/shobhit/opt/anaconda3/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/shobhit/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/shobhit/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /Users/shobhit/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /Users/shobhit/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/shobhit/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
dfa = pd.read_csv("one.csv")

In [5]:
dfa

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [6]:
dfa.shape

(41715, 10)

In [7]:
dfa.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [8]:
list(dfa.columns)

['Year',
 'Industry_aggregation_NZSIOC',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Variable_code',
 'Variable_name',
 'Variable_category',
 'Value',
 'Industry_code_ANZSIC06']

In [9]:
dfa['Units'].nunique()

3

In [10]:
dfa['Units'].unique()

array(['Dollars (millions)', 'Dollars', 'Percentage'], dtype=object)

In [11]:
dfa['Units'].value_counts()

Dollars (millions)    32796
Percentage             6633
Dollars                2286
Name: Units, dtype: int64

In [12]:
# filtering 
# dfa['Variable_code'] == 'H37'

dfa[ dfa['Variable_code'] == 'H37' ]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
27,2021,Level 1,99999,All industries,Percentage,H37,Quick ratio,Financial ratios,71,ANZSIC06 divisions A-S (excluding classes K633...
58,2021,Level 1,AA,"Agriculture, Forestry and Fishing",Percentage,H37,Quick ratio,Financial ratios,63,ANZSIC06 division A
88,2021,Level 3,AA11,Horticulture and Fruit Growing,Percentage,H37,Quick ratio,Financial ratios,70,"ANZSIC06 groups A011, A012, and A013"
118,2021,Level 4,AA111,Horticulture and Fruit Growing,Percentage,H37,Quick ratio,Financial ratios,70,"ANZSIC06 groups A011, A012, and A013"
148,2021,Level 3,AA12,"Sheep, Beef Cattle and Grain Farming",Percentage,H37,Quick ratio,Financial ratios,66,ANZSIC06 groups A014 and A015
...,...,...,...,...,...,...,...,...,...,...
41579,2013,Level 3,RS21,Other Services,Percentage,H37,Quick ratio,Financial ratios,177,"ANZSIC06 division S (excluding classes S9540, ..."
41611,2013,Level 4,RS211,Repair and Maintenance,Percentage,H37,Quick ratio,Financial ratios,93,"ANZSIC06 groups S941, S942, and S949"
41643,2013,Level 4,RS212,"Personal Care, Funeral and Other Personal Serv...",Percentage,H37,Quick ratio,Financial ratios,78,"ANZSIC06 groups S951, S952, and S953"
41675,2013,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,314,ANZSIC06 group S955
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

## series

In [13]:
dict_x = {"aa":20, "tt":40, "ww":32, "gt":90}
sa = pd.Series(dict_x)

In [14]:
sa

aa    20
tt    40
ww    32
gt    90
dtype: int64

In [15]:
sa['aa']

20

In [16]:
sa.min()

20

In [17]:
sa.index

Index(['aa', 'tt', 'ww', 'gt'], dtype='object')

In [18]:
print(type(sa))

<class 'pandas.core.series.Series'>

In [27]:
dict_x = {"aa":20, "tt":40, "ww":32, "gt":90}

sb = pd.Series(dict_x, index = ["aa", "bb", "tt", "ww", "gt"])

In [22]:
sb

aa    20.0
bb     NaN
tt    40.0
ww    32.0
gt    90.0
dtype: float64

In [23]:
sb = pd.Series(100, index = ["aa", "bb", "tt", "ww", "gt"])

In [25]:
sb

aa    100
bb    100
tt    100
ww    100
gt    100
dtype: int64

In [26]:
sc = sb.copy()

In [28]:
sb

aa    20.0
bb     NaN
tt    40.0
ww    32.0
gt    90.0
dtype: float64

In [29]:
np.exp(sb)

aa    4.851652e+08
bb             NaN
tt    2.353853e+17
ww    7.896296e+13
gt    1.220403e+39
dtype: float64

In [30]:
sb.dtype

dtype('float64')

In [34]:
sd = pd.Series(np.random.randn(6), name="random_data")

In [35]:
sd

0   -1.619481
1    0.726652
2   -1.112005
3    1.079585
4   -0.275663
5   -0.133918
Name: random_data, dtype: float64

In [36]:
sd.name

'random_data'

## DataFrame

In [37]:
print(type(dfa))

<class 'pandas.core.frame.DataFrame'>

In [38]:
dict_y = {"xxx":[10, 20, 30, 40], "yyy":[76, 65, 54, 43], "zzz":[10, 94, 65, 20]}

In [39]:
dfb = pd.DataFrame(dict_y)

In [40]:
dfb

   xxx  yyy  zzz
0   10   76   10
1   20   65   94
2   30   54   65
3   40   43   20

In [41]:
dfb.columns = ["first", "second", "third"]

dfb

   first  second  third
0     10      76     10
1     20      65     94
2     30      54     65
3     40      43     20

In [42]:
list_a = [{"aa":20, "ff":30}, {"aa":10, "ff":40}, {"aa":10, "ff":30, "rr":56}]

dfc = pd.DataFrame(list_a)

In [43]:
dfc

   aa  ff    rr
0  20  30   NaN
1  10  40   NaN
2  10  30  56.0

In [44]:
dfb.to_dict()

{'first': {0: 10, 1: 20, 2: 30, 3: 40},
 'second': {0: 76, 1: 65, 2: 54, 3: 43},
 'third': {0: 10, 1: 94, 2: 65, 3: 20}}

In [45]:
dfb

   first  second  third
0     10      76     10
1     20      65     94
2     30      54     65
3     40      43     20

In [46]:
dfb["fourth"] = [5, 8, 9, 10]
dfb["fifth"] = dfb["second"] - dfb["third"]
dfb["sixth"] = dfb["third"] > 50

In [47]:
dfb

   first  second  third  fourth  fifth  sixth
0     10      76     10       5     66  False
1     20      65     94       8    -29   True
2     30      54     65       9    -11   True
3     40      43     20      10     23  False

In [48]:
# del dfb["fifth"]

x = dfb.pop("fifth")

In [49]:
x

0    66
1   -29
2   -11
3    23
Name: fifth, dtype: int64

In [50]:
dfb

   first  second  third  fourth  sixth
0     10      76     10       5  False
1     20      65     94       8   True
2     30      54     65       9   True
3     40      43     20      10  False

In [51]:
dfb["fifth"] = "monday"

In [52]:
dfb

   first  second  third  fourth  sixth   fifth
0     10      76     10       5  False  monday
1     20      65     94       8   True  monday
2     30      54     65       9   True  monday
3     40      43     20      10  False  monday

In [53]:
dfa

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [54]:
dfa.head(4)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

In [55]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.2+ MB

In [56]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   4 non-null      int64
 1   second  4 non-null      int64
 2   third   4 non-null      int64
 3   fourth  4 non-null      int64
 4   sixth   4 non-null      bool
 5   fifth   4 non-null      object
dtypes: bool(1), int64(4), object(1)
memory usage: 292.0+ bytes

In [57]:
dfb

   first  second  third  fourth  sixth   fifth
0     10      76     10       5  False  monday
1     20      65     94       8   True  monday
2     30      54     65       9   True  monday
3     40      43     20      10  False  monday

In [58]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      3 non-null      int64
 1   ff      3 non-null      int64
 2   rr      1 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [59]:
dfc

   aa  ff    rr
0  20  30   NaN
1  10  40   NaN
2  10  30  56.0

In [60]:
dfb

   first  second  third  fourth  sixth   fifth
0     10      76     10       5  False  monday
1     20      65     94       8   True  monday
2     30      54     65       9   True  monday
3     40      43     20      10  False  monday

In [61]:
dfb["first"]

0    10
1    20
2    30
3    40
Name: first, dtype: int64

In [62]:
dfe = dfb.copy()

In [63]:
dfe.index = ["q", "w", "e", "r"]

In [64]:
dfb

   first  second  third  fourth  sixth   fifth
0     10      76     10       5  False  monday
1     20      65     94       8   True  monday
2     30      54     65       9   True  monday
3     40      43     20      10  False  monday

In [65]:
dfe

   first  second  third  fourth  sixth   fifth
q     10      76     10       5  False  monday
w     20      65     94       8   True  monday
e     30      54     65       9   True  monday
r     40      43     20      10  False  monday

In [66]:
dfe.loc["e"]

first         30
second        54
third         65
fourth         9
sixth       True
fifth     monday
Name: e, dtype: object

In [67]:
dfe.iloc[2]

first         30
second        54
third         65
fourth         9
sixth       True
fifth     monday
Name: e, dtype: object

In [68]:
dfa[20:27]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
20,2021,Level 1,99999,All industries,Dollars (millions),H30,Total equity and liabilities,Financial position,"2,512,677",ANZSIC06 divisions A-S (excluding classes K633...
21,2021,Level 1,99999,All industries,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"813,949",ANZSIC06 divisions A-S (excluding classes K633...
22,2021,Level 1,99999,All industries,Dollars (millions),H32,Current liabilities,Financial position,"933,093",ANZSIC06 divisions A-S (excluding classes K633...
23,2021,Level 1,99999,All industries,Dollars (millions),H33,Other liabilities,Financial position,"765,635",ANZSIC06 divisions A-S (excluding classes K633...
24,2021,Level 1,99999,All industries,Dollars,H34,Total income per employee count,Financial ratios,"400,900",ANZSIC06 divisions A-S (excluding classes K633...
25,2021,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
26,2021,Level 1,99999,All industries,Percentage,H36,Current ratio,Financial ratios,78,ANZSIC06 divisions A-S (excluding classes K633...