In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data.txt", delimiter=' ', header=None)

In [5]:
df

    0   1   2   3
0  34  tt  89  fg
1  87  bh  11  gt
2  45  se  67  ft
3  20  xx  31  fl
4  69  ss  18  cd
5  35  dq  71  lk

In [7]:
df.to_excel("data.xlsx", index=False, header=False)